<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Página de Esportes - EJS</title>
  </head>
  <body>
    <h2>Esportes</h2>
    <table>
      <tbody>
        <tr>
          <td>ID</td>
          <td>Esporte</td>
        </tr>
  
        <% for(var i = 0; i < esportes.length; i++) { %>
          <tr>
            <td><%= esportes[i].id_esporte %></td>
            <td><%= esportes[i].nm_esporte %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>