<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Adicionar sports</title>
</head>
<body>
  <h1>Adicionar sports</h1>
  <form action="/add_sports" method="post">
    <label for="">Nome do esporte</label>
    <input type="text" name="nm_esporte" id="nm_esporte">
    <br>
    <input type="submit" value="Adicionar">
  </form>
</body>
</html>