<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Produtos</title>
  </head>
  <body>

    <% if(validacao){ %>
      <ul>
         <% for(var i = 0; i < validacao.length; i++) { %>
          <li><%= validacao[i].msg %></li>
          <% } %>
      </ul>

      <% } %>
    
    <h2>Criar produtos</h2>
    <form action="/salvar" method="post">
      <label for="nome">Nome</label>
      <input type="text" name="nm_produto" id="nm_produto" value="<%= produto.nome %>">
      <br>
      <br>

      <label for="quantidade">Descrição</label>
      <input type="text" name="ds_produto" id="ds_produto" value="<%= produto.descricao %>">
      <br>

      <input type="submit" value="Enviar">
    </form>
  </body>
</html>