<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <title>Cardapio</title>
</head>

<body>


    <div class="col-md-12"><h2>Adicionar cardápio</h2></div>
    <form action="/salvar" method="post">

        <div class="form-group col-md-8">
        <label for="nome">Nome prato</label>
        <input type="text" name="nome" id="nm_prato" value="<%= cardapio.nome %>" class="form-control">
        </div>

        <div class="form-group col-md-8">
        <label for="sobrenome">Categoria</label>
        <input type="text" name="categoria" id="nm_categoria" value="<%= cardapio.categoria %>" class="form-control">
        </div>
    
        <div class="form-group col-md-8">
        <label for="rg">Descrição:</label>
        <input type="text" name="descricao" id="descricao" value="<%= cardapio.descricao %>" class="form-control">
        </div>

        <div class="form-group col-md-8">
        <label for="cpf">Preço:</label>
        <input type="text" name="preco" id="preco" value="<%= cardapio.preco %>" class="form-control">
        </div>

        <div class="form-group col-md-8">
        <button type="submit" value="Enviar" class="btn btn-primary">Enviar</button>
        </div>
    </form>

    <div class="col-md-6"><a href="/cardapio">Ver cardápio</a></div>

</body>

</html>