body{
	background:#F8F8F8;
}

a:hover{
	text-decoration: none;
	color:#000;
}

.produto_wrapper{
	background-color: #FFF;   
	padding:15px;
	margin-bottom:15px;
	box-shadow: 1px 1px 2px #C3C3C3;
}

.navbar{
	background:#FFF;
}


.produto_nome{
	color:#000;
	font-size:22px;
	text-decoration: none;
}

.produto_descricao{
	color:#333;
	margin-right:10px;
}

.ver_mais{
	text-align: center;
	background:#FFF;
	padding:20px;
}
