<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Produtos</title>
</head>
<body>
  <h1>Teste</h1>
  <table>
    <tbody>
      <tr>
        <td>ID</td>
        <td>Nome</td>
        <td>Descrição</td>
      </tr>

      <% for(var i = 0; i < produtos.length; i++) { %>
        <tr>
          <td><%= produtos[i].id_produto %></td>
          <td><%= produtos[i].nm_produto %></td>
          <td><%= produtos[i].ds_produto %></td>
        </tr>
      <% } %>
    </tbody>
  </table>

    <div class="col-md-6"><a href="/create_produtos">Cadastrar produtos</a></div>

  <script>
  </script>
</body>
</html>