<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Produtos</title>
</head>
<body>
    <h1>Produtos</h1>

    <table>
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Descricao</td>
        </tr>

        <% for(var i = 0; i < produtos.length; i++){ %>

        <tr>
            <td><%= produtos[i].id_produto %></td>
            <td><%= produtos[i].nome %></td>
            <td><%= produtos[i].descricao %></td>
        </tr>

        <% } %>
        
    </table>
</body>
</html>