<html>
    <head>
        <title>Restaurante</title>
    </head>
    <body>
        <h1>Bem vindo ao restaurante!</h1>
        <blockquote>Conheça nossas novidades!</blockquote>

        <div>
            <a href="/cardapio">Ver cardapio</a>
            <a href="/cadastrar">Cadastrar novas refeições</a>
        </div>
    </body>
</html>