<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Chaves - NodeJS</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

		<script>
			$(document).ready(function(){
				$('#btn_sair').click(function(){
					window.location.href = '/sair';
				})	
			});
		</script>

	</head>

	<body class="body-jogo">

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="form-group sair">
					<button type="button" class="btn btn-info pull-right" id="btn_sair">Sair</button>
				</div>
			</div>
		</nav>

	    <div class="container">
	    	
			<div class="row">
	    		<div class="col-sm-3 casa">
					<img src="images/chaves/chaves.jpg" />
				</div>

	    		<div class="col-sm-9">
					<div class="row barra-superior">
						<div class="col-sm-2"> 
							<img src="images/habilidades/sanduba-presunto.jpg" title="Sanduiche" alt="Sanduba presunto" width="60px" height="50px" />
							<span>754</span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/habilidades/suco-tamarindo.jpg" title="Suco" alt="tamarindo" width="60px" height="50px"/>
							<span>754</span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/habilidades/lollipop.jpg" title="Pirulito" alt="pirulito" width="60px" height="50px"/>
							<span>754</span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/habilidades/kiko-ball.jpg" title="Bola" alt="bola" width="60px" height="50px"/>
							<span>754</span>
						</div>
					</div>
				</div>
	    	</div>
			
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-9">
					<div class="acoes"></div>					
				</div>
			</div>
			
		</div>	
		

	</body>
</html>